* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

button {
  cursor: pointer;
  padding: 1rem;
}

body,
button,
input,
textarea {
  font-family: Roboto;
}

svg {
  cursor: pointer;
}

h1, h2 {
  color: rgba(255, 255, 255, 0.9);
}

p {
  color: rgba(255, 255, 255, 0.75);
}
